{% extends 'layouts/app.html.twig' %}

{% block title %}Stocks List{% endblock %}

{% block content %}

    <section class="section">
        <div class="section-header">
            <h1>Stocks</h1>
        </div>
        <div class="section-body">
            <div class="card">
                <div class="card-header">
                    <h4>LIST Stocks</h4>
                    <div class="card-header-action">
                        <a href="{{ path('stocks_create') }}" class="btn btn-primary">Tambah Baru</a>
                        <a href="" class="btn btn-primary">Export</a>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Company Name</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for index,Stock in stocks %}

                                    {% if not Stock.isdeleted %}

                                        <tr>
                                            <td>{{ Stock.name }}</td>
                                            <td>{{ Stock.code }}</td>
                                            <td>{{ companyNames[index] }}</td>
                                            <td>
                                            <a href="{{path('stocks_update',{id: Stock.id})}}" class="btn btn-warning">
                                                    <span class="bi bi-pencil">I</span> <!-- Edit icon using Bootstrap icons -->
                                                </a>

                                                <a href="{{path('stocks_delete',{id: Stock.id})}}" class="btn btn-danger">
                                                    <span class="bi bi-trash">X</span> <!-- Trash icon using Bootstrap icons -->
                                                </a>
                                            </td>
                                        </tr>

                                    {% endif %}
                                                        
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
