{% extends 'base.html.twig' %}

{% block title %}Stocks List{% endblock %}

{% block body %}

<div class="container">
    <div class="card">
        <button class="btn btn-primary col-2" onclick="window.location='{{ path('stocks_create') }}'">New</button>
    </div>

    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Code</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for index,Stock in stocks %}

                    {% if not Stock.isdeleted %}

                        <tr>
                            <td>{{ Stock.name }}</td>
                            <td>{{ Stock.code }}</td>
                            <td>{{ companyNames[index] }}</td>
                            <td>
                            <a href="{{path('stocks_update',{id: Stock.id})}}" class="btn btn-warning">
                                    <span class="bi bi-pencil">I</span> <!-- Edit icon using Bootstrap icons -->
                                </a>

                                <a href="{{path('stocks_delete',{id: Stock.id})}}" class="btn btn-danger">
                                    <span class="bi bi-trash">X</span> <!-- Trash icon using Bootstrap icons -->
                                </a>
                            </td>
                        </tr>

                    {% endif %}
                                        
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
